
.hero-image {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/background-team-dark.jpg'); 
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(0.6);
  z-index: 0;
}

.hero-text {
  position: relative;
  z-index: 1;
  color: var(--text-primary);
  text-align: center;
  top: 60%;
  transform: translateY(-50%);
  padding: 2rem;
}

.hero-text h1 {
  font-size: 3rem;
  color: var(--accent-secondary);
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.hero-text p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: #f0e8e8;;
}

.features {
    padding: 6rem 2rem;
}

.features-container {
    max-width: 1200px;
    margin: 0 auto;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.feature-card {
    background: var(--bg-secondary);
    backdrop-filter: blur(20px);
    border: 1px solid var(--border-primary);
    border-radius: 20px;
    padding: 1rem;
    transition: all 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px var(--glow-primary);
    border-color: var(--border-secondary);
}

.feature-icon {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 0 auto 1.5rem auto;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--text-primary);
    text-align: center;
}

.feature-description {
    color: var(--text-secondary);
    line-height: 1.6;
    text-align: center;
}

.feature-info{
    color: var(--text-secondary);
    line-height: 1.6;
    padding: 5px;
    text-align: center;
}

.contact-email{
    color: var(--text-secondary);
}

@media (max-width: 768px) {

  table {
    font-size: 14px;
  }

  th, td {
    padding: 12px 8px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-cta {
    flex-direction: column;
    align-items: center;
  }

  .btn-hero {
    width: 100%;
    max-width: 300px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
  }
}