.hero-title {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 800;
  margin-bottom: 0.5rem;
  margin-top: 90px;
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: glow-text 3s ease-in-out infinite alternate;
  text-align: center;
}

.team {
    padding: 4rem 2rem;
    backdrop-filter: blur(10px);  
 }

.team-container {
    max-width: 1900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    text-align: center;
    backdrop-filter: blur(10px);
    border: none;
}

.team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-quaternary);
    border-radius: 1rem;
    height: 40vh;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(6px);
    background: var(--team-bg-image); 
    background-size: cover;
    background-repeat: no-repeat;
}

.team-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px var(--glow-primary);
}

.team-text {
    display: flex;
    width: 100%;
    height: 200px;
    backdrop-filter: blur(4px);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    clip-path: inset(0 round 10px);
}
 
.team-image img {
  width: 100px;                
  height: 100px;                
  object-fit: contain;         
  border-radius: 4px;          
}

.team-title {
    font-size: 1.9rem;
    font-weight: 800;
    color: var(--accent-secondary);
    margin-bottom: 0.5rem;
    text-shadow: 0 0 10px var(--glow-secondary);
}

.team-content {
    font-size: 1.5rem;
    color: #f0e8e8;;
    font-weight: 500;
}

.button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.info-button {
  text-decoration: none;
  padding: 8px 16px;
  border: none;
  width: 110px;
  height: 40px;
  border-radius: 6px;
  font-weight: 600;
  color: var(--text-primary);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background: var(--gradient-accent);
}

.info-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--glow-primary);
}